.map-container {
  display: block;
  width: 650px;
  height: 500px;
  position: absolute;
  top: 10;
  left: 0;
  right:0;
  bottom:4;
  margin: 10px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}
