
:host{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.map{
  margin-bottom: 15px;
   height: 500px;
}
.address{
  height: 70px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  &__title{
    font-weight: 600;
    font-size: 18px;
  }
  &__icon{
    margin: 5PX;
    font-weight: 900;
    font-size: 22px;
  }
}

